@model ClassWebApplication.Models.Course

@{
    ViewData["Title"] = "Деталі";
}

<h1>Деталі</h1>

<div>
    <h4>Курсу</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaterialLink)
        </dd>
        <dt class="col-sm-2">
            Завантажені матеріали на Google Drive
        </dt>
        <dd class="col-sm-10">
        @if (!string.IsNullOrEmpty(Model.MaterialFileIdentifier))
        {
            <a href="javascript:void(0);" onclick="downloadMaterial('@Model.MaterialFileIdentifier')">Завантажити матеріали</a>
        }
        else
        {
            <p>Немає матеріалів на Google Drive</p>
        }
    </dd>


    </dl>
    <h4>Студенти курсу</h4>
    <ul>
    @foreach (var studentCourse in Model.StudentCourses)
    {
        <li>@studentCourse.Student.FullName - @studentCourse.Student.Email</li>
    }
    </ul>

    <h4>Лектори курсу</h4>
    <ul>
    @foreach (var lectorCourse in Model.LectorCourses)
    {
        <li>@lectorCourse.Lector.FullName - @lectorCourse.Lector.Email</li>
    }
    </ul>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Змінити</a> |
    <a asp-action="Index">Повернутися</a>
</div>

        @section Scripts {
    <script>
        function downloadMaterial(materialFileIdentifier) {
            window.location.href = '/Courses/DownloadMaterial?materialFileIdentifier=' + encodeURIComponent(materialFileIdentifier);
        }
    </script>
        }